# Group B Assignment - 2

 Perform the following operations using Python on the Air quality and Heart Diseases data sets
<br>a. Data cleaning
<br>b. Data integration
<br>c. Data transformation
<br>d. Error correcting
<br>e. Data model building

## Importing libraries

In [1]:
import pandas as pd
import numpy as np

## Reading the csv file

In [2]:
data = pd.read_csv(r"D:\DYP\6th Sem\LAB\DSBDA\pe\airquality.csv")
data

     Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day humidity
0             1   41.0    190.0   7.4    67      5    1     high
1             2   36.0    118.0   8.0    72      5    2     high
2             3   12.0    149.0  12.6    74      5    3     high
3             4   18.0    313.0  11.5    62      5    4     high
4             5    NaN      NaN  14.3    56      5    5     high
..          ...    ...      ...   ...   ...    ...  ...      ...
148         149   30.0    193.0   6.9    70      9   26     high
149         150    NaN    145.0  13.2    77      9   27     high
150         151   14.0    191.0  14.3    75      9   28     high
151         152   18.0    131.0   8.0    76      9   29     high
152         153   20.0    223.0  11.5    68      9   30     high

[153 rows x 8 columns]

## Removing unnecessary columns

In [3]:
data.drop(data.iloc[:,[0]], axis=1, inplace=True)
data

     Ozone  Solar.R  Wind  Temp  Month  Day humidity
0     41.0    190.0   7.4    67      5    1     high
1     36.0    118.0   8.0    72      5    2     high
2     12.0    149.0  12.6    74      5    3     high
3     18.0    313.0  11.5    62      5    4     high
4      NaN      NaN  14.3    56      5    5     high
..     ...      ...   ...   ...    ...  ...      ...
148   30.0    193.0   6.9    70      9   26     high
149    NaN    145.0  13.2    77      9   27     high
150   14.0    191.0  14.3    75      9   28     high
151   18.0    131.0   8.0    76      9   29     high
152   20.0    223.0  11.5    68      9   30     high

[153 rows x 7 columns]

## Replacing null values by mean values

In [4]:
data.isnull().sum()

Ozone       37
Solar.R      7
Wind         0
Temp         0
Month        0
Day          0
humidity     4
dtype: int64

In [5]:
data.shape

(153, 7)

In [6]:
data["Ozone"].fillna(data["Ozone"].mean(), inplace=True)
data["Solar.R"].fillna(data["Solar.R"].mean(), inplace=True)
data["Wind"].fillna(data["Wind"].mean(), inplace=True)
data

        Ozone     Solar.R  Wind  Temp  Month  Day humidity
0    41.00000  190.000000   7.4    67      5    1     high
1    36.00000  118.000000   8.0    72      5    2     high
2    12.00000  149.000000  12.6    74      5    3     high
3    18.00000  313.000000  11.5    62      5    4     high
4    42.12931  185.931507  14.3    56      5    5     high
..        ...         ...   ...   ...    ...  ...      ...
148  30.00000  193.000000   6.9    70      9   26     high
149  42.12931  145.000000  13.2    77      9   27     high
150  14.00000  191.000000  14.3    75      9   28     high
151  18.00000  131.000000   8.0    76      9   29     high
152  20.00000  223.000000  11.5    68      9   30     high

[153 rows x 7 columns]

In [8]:
data["humidity"].fillna("Medium", inplace=True)

In [9]:
data.isnull().sum()

Ozone       0
Solar.R     0
Wind        0
Temp        0
Month       0
Day         0
humidity    0
dtype: int64

## Performing label encoding on Humidity column to convert categorical data to continuous data

In [10]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()

In [20]:
data['humidity'].unique()

array([1, 2, 3, 0], dtype=int64)

In [17]:
data["humidity"] = le.fit_transform(data["humidity"])

In [18]:
data['humidity'].unique()

array([1, 2, 3, 0], dtype=int64)

In [14]:
data

        Ozone     Solar.R  Wind  Temp  Month  Day  humidity
0    41.00000  190.000000   7.4    67      5    1         1
1    36.00000  118.000000   8.0    72      5    2         1
2    12.00000  149.000000  12.6    74      5    3         1
3    18.00000  313.000000  11.5    62      5    4         1
4    42.12931  185.931507  14.3    56      5    5         1
..        ...         ...   ...   ...    ...  ...       ...
148  30.00000  193.000000   6.9    70      9   26         1
149  42.12931  145.000000  13.2    77      9   27         1
150  14.00000  191.000000  14.3    75      9   28         1
151  18.00000  131.000000   8.0    76      9   29         1
152  20.00000  223.000000  11.5    68      9   30         1

[153 rows x 7 columns]

## Declaring dependent and independent variables

In [ ]:
# x = data.iloc[:, [0,1,2,3]]
# y = data["Humidity"]
x=data.iloc[:,:4]
y=data.iloc[:,4]

## Splitting the data for training and testing

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

## Creating the model

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

## Training the model

In [ ]:
model.fit(x_train, y_train)

## Predicting the values

In [ ]:
predictions = model.predict(x_test)

In [ ]:
predictions

## Calculating the performance metrics

In [ ]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(predictions, y_test)
rmse = np.sqrt(mse)

In [ ]:
print("MSE : " ,mse)

In [ ]:
print("RMSE : " ,rmse)

## Model Visualization

In [ ]:
data

In [ ]:
data.dtypes

## Declaring dependent and independent variables

In [ ]:
x= data[['Ozone']]
y=data[['Day']]

## Splitting the data for training and testing

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=60)

## Creating the model

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

## Training the Model

In [ ]:
model.fit(x_train,y_train)

## Predicting the values

In [ ]:
predictions=model.predict(x_test)

In [ ]:
predictions

## Plotting

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(x_test,y_test,color="red")
plt.plot(x_test,predictions,color="blue",linewidth=3)